<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
        SISTEMA DE CAPTURA DE PROSPECTOS
        
 </div>
</nav>
<router-outlet></router-outlet>

<br>
<br>

<div id="footer">
<ul class="nav nav-tabs" style="height: 50px;background-color: bg-light;">
        <li class="nav-item" style="width:33.3%">
          <a class="nav-link" routerLink="/captura"  routerLinkActive="active">Captura</a>
        </li>
        <li class="nav-item" style="width:33.3%">
          <a class="nav-link" routerLink="/listado"  routerLinkActive="active">Listado</a>
        </li>
        <li class="nav-item" style="width:33.3%">
          <a class="nav-link" routerLink="/evaluacion" routerLinkActive="active">Evaluación de prospectos  </a>
        </li>
</ul>

</div>